@import '~styles/partials/theme.scss';

.categoryStyle2-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  color: var(--borderColor);
  padding: 20px 40px;
  background-color: var(--whiteTextColor);

  img {
    margin-bottom: 30px;
    width: 80px;
    height: auto;
  }
}
