@import '@/assets/scss/partials/theme.scss';

.category {
  &__image {
    width: 157px;
    padding: 24px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: transparent;
    @include transition(background-color $transition-short linear);

    @media only screen and (max-width: 1600px) {
      width: 140px;
    }

    @media only screen and (max-width: 1366px) {
      width: 120px;
    }

    @media only screen and (max-width: 768px) {
      width: 80px;
    }
  }

  picture {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
    margin: auto;
    border-radius: 50%;
    @include transition(width $transition-short linear);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.5em;
    color: var(--primaryTextColor);
    text-align: center;
    text-transform: capitalize;
    margin-top: 18px;
    @include transition(color $transition-short linear);

    @media only screen and (max-width: 1600px) {
      font-size: 16px;
      margin-top: 10px;
    }

    @media only screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  &:active,
  &:focus,
  &:hover {
    .category__image {
      background-color: var(--whiteTextColor);
    }

    .category__image > picture {
      width: 80%;
    }

    .category__title {
      color: var(--primaryColor);
    }
  }
}
