@import '~assets/scss/partials/theme.scss';

.serviceCard {
  max-width: 100%;
  width: 100%;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 2rem;
    @media (max-width: 767px) {
      flex-direction: row;
    }
  }
  &__detail {
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
    gap: 1rem;
    background: var(--gray-200);
    padding: 2rem;
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
  }

  &__image {
    & > img {
      width: 52px;
      height: 52px;
    }
  }

  &__text {
    font-size: 16px;
  }

  &__title {
    font-weight: 600;
    padding: 10px 0;
  }
}
