@import '~/assets/scss/partials/theme.scss';

.star-rating {
  display: flex;
  padding: 15px 0;
  justify-content: center;

  > div {
    margin: 0 3px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}
