@import '~/assets/scss/partials/theme.scss';

.selectC {
  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__bottom {
    position: relative;
  }

  &__label {
    --fos: 20px;

    position: relative;
    font-size: var(--fos);
    line-height: 1;
    color: var(--primaryTextColor);
    padding-left: 24px;

    &.required::before {
      content: '\002A';
      display: inline-block;
      font-size: var(--fos);
      line-height: 1;
      color: var(--secondaryColor);

      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: var(--fos);
      height: var(--fos);
    }
  }

  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    /* For IE <= 11 */
    &::-ms-expand {
      display: none;
    }

    width: 100%;
    font-size: 22px;
    line-height: 1.4em;
    color: var(--greyTextColor);
    padding: 12px 24px;
    padding-right: 48px;
    border-bottom: 2px solid var(--lightGreyColor);
    background: transparent;
    cursor: pointer;
    @include transition(color $transition linear, border $transition linear);

    @include placeholder {
      font-size: inherit;
      line-height: inherit;
      color: var(--lightGreyColor);
    }

    &:active,
    &:focus,
    &:hover {
      outline: none;
      border-bottom: 2px solid var(--secondaryColor);
    }

    &.error {
      border-bottom: 2px solid var(--danger);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    font-size: 22px;
    color: var(--primaryTextColor);
    user-select: none;
    pointer-events: none;
    @include transition(transform 0.3s linear);
  }

  &__bottom:hover > &__select:focus + &__icon {
    transform: translateY(-50%) rotate(180deg);
  }
}

.tooltip {
  position: relative;

  &__icon {
    padding-left: 10px;
    font-size: 18px;
    color: var(--borderColor);
    transition: color $transition linear;

    &:active,
    &:focus,
    &:hover {
      outline: none;
      cursor: pointer;
      color: darken($borderColor, 15%);
    }
  }

  &__popup {
    display: none;

    position: absolute;
    bottom: 25px;
    left: 50%;
    min-width: 120px;
    padding: 10px;
    transform: translate(-50%, 0);
    background: var(--whiteTextColor);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &.show {
      display: block;
    }

    p {
      font-size: 14px;
      line-height: 1.4em;
      color: var(--greyTextColor);
    }
  }
}
