@import '~styles/partials/theme.scss';

.tabs {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 35px;

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__links {
    display: inline-block;
    font-family: inherit;
    font-size: 15px;
    color: var(--primaryColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    @include transition(color $transition ease);

    &:active,
    &:focus,
    &:hover {
      color: var(--secondaryColor);
    }

    &::after {
      content: '';
      display: block;
      border-bottom: solid 2px var(--primaryColor);
      height: 5px;
      width: 110%;
      transform: translateX(-5%);
      @include transition(
        width $transition ease,
        border-bottom $transition ease
      );
    }

    &:active::after,
    &:focus::after,
    &:hover::after {
      width: 55%;
      border-bottom: solid 2px var(--secondaryColor);
    }

    &--light {
      color: var(--whiteTextColor);

      &:active,
      &:focus,
      &:hover {
        color: rgba($whiteTextColor, 0.8);
      }

      &::after {
        border-bottom: solid 2px var(--whiteTextColor);
      }

      &.active::after,
      &:focus::after,
      &:hover::after {
        border-bottom: solid 2px rgba($whiteTextColor, 0.8);
      }
    }

    &-active {
      color: var(--secondaryColor);

      &::after {
        width: 55%;
        border-bottom: solid 2px var(--secondaryColor);
      }
    }
  }
}
