@import '~/assets/scss/partials/theme.scss';

.keywordC {
  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__label {
    --fos: 20px;

    position: relative;
    font-size: var(--fos);
    line-height: 1;
    color: var(--primaryTextColor);
    padding-left: 24px;

    &.required::before {
      content: '\002A';
      display: inline-block;
      font-size: var(--fos);
      line-height: 1;
      color: var(--secondaryColor);

      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: var(--fos);
      height: var(--fos);
    }
  }

  &__input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;

    flex: 1;
    // width: 100%;
    font-size: 22px;
    line-height: 1.4em;
    color: var(--greyTextColor);
    padding: 0 10px;
    // padding: 12px 24px;
    // border-bottom: 2px solid var(--lightGreyColor);
    background: transparent;
    resize: none;
    @include transition(color $transition linear);

    @include placeholder {
      font-size: inherit;
      line-height: inherit;
      color: var(--lightGreyColor);
    }

    // &:active,
    // &:focus,
    // &:hover {
    //   outline: none;
    //   border-bottom: 2px solid var(--secondaryColor);
    // }

    // &.error {
    //   border-bottom: 2px solid var(--danger);
    // }
  }
}

.tooltip {
  position: relative;

  &__icon {
    padding-left: 10px;
    font-size: 18px;
    color: var(--borderColor);
    transition: color $transition linear;

    &:active,
    &:focus,
    &:hover {
      outline: none;
      cursor: pointer;
      color: darken($borderColor, 15%);
    }
  }

  &__popup {
    display: none;

    position: absolute;
    bottom: 25px;
    left: 50%;
    min-width: 120px;
    padding: 10px;
    transform: translate(-50%, 0);
    background: var(--whiteTextColor);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &.show {
      display: block;
    }

    p {
      font-size: 14px;
      line-height: 1.4em;
      color: var(--greyTextColor);
    }
  }
}

.keywordContainer :where(li, li span) {
  display: flex;
  align-items: center;
}

.keywordContainer {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    border-bottom: 2px solid var(--lightGreyColor);

    &:focus-within,
    &:hover {
      outline: none;
      border-bottom: 2px solid var(--secondaryColor);
    }

    &.error {
      border-bottom: 2px solid var(--danger);
    }
  }

  li {
    font-size: 16px;
    line-height: 1;
    color: var(--whiteTextColor);
    margin: 5px;
    list-style: none;
    border-radius: 6px;
    background: var(--darkBlack);
    padding: 5px 10px;
  }
}
.keywordContainer ul li span {
  height: 15px;
  width: 15px;
  color: var(--darkBlack);
  margin-left: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  border-radius: 50%;
  background: var(--whiteTextColor);
  justify-content: center;
}
