// Color Changing Animation For Navar Icon

@keyframes moveRightLeft {
  0% {
    transform: translateX(300%);
  }

  50% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(0);
  }
}