$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-Accessories: "\e943";
$icon-Automotive: "\e944";
$icon-Baby-Kids: "\e945";
$icon-Beauty: "\e946";
$icon-Books: "\e947";
$icon-Clothing-empty: "\e948";
$icon-Computer-Software: "\e949";
$icon-Education: "\e937";
$icon-Entertaintment: "\e938";
$icon-Eyewear: "\e939";
$icon-Finance-Insurance: "\e93a";
$icon-Food-Beverages: "\e93b";
$icon-Footwear: "\e93c";
$icon-Games-Toys: "\e93d";
$icon-Gifts: "\e93e";
$icon-Health-Fitness: "\e93f";
$icon-Intrnet-Services: "\e940";
$icon-Jewellry: "\e941";
$icon-Office-Supplies: "\e942";
$icon-Pet: "\e932";
$icon-Photography: "\e933";
$icon-Sexual-Wellness: "\e934";
$icon-Sport: "\e935";
$icon-Travel-empty: "\e936";
$icon-sports: "\e929";
$icon-advertise: "\e903";
$icon-left: "\f053";
$icon-right: "\f054";
$icon-up: "\f077";
$icon-down: "\f078";
$icon-bag: "\e906";
$icon-calander: "\e90a";
$icon-chat: "\e90b";
$icon-chat-popup: "\e90c";
$icon-right-tick: "\e901";
$icon-check: "\f00c";
$icon-check_mark: "\e925";
$icon-check_square: "\f046";
$icon-verify: "\f047";
$icon-viewall: "\e922";
$icon-circlequestion: "\e930";
$icon-clock: "\e90d";
$icon-clock-small: "\f017";
$icon-close: "\e902";
$icon-clothing: "\e90e";
$icon-copy: "\f0c5";
$icon-coupon_added: "\e92a";
$icon-coupon_vocher: "\e92b";
$icon-deals: "\e953";
$icon-dislike: "\e910";
$icon-double-arrow: "\e911";
$icon-edit: "\e912";
$icon-edit-thick: "\e913";
$icon-electronics: "\e914";
$icon-email: "\e915";
$icon-facebook: "\e907";
$icon-flag: "\e916";
$icon-flower-gift: "\e917";
$icon-food: "\e918";
$icon-google-plus: "\e909";
$icon-grid: "\f00a";
$icon-health: "\e919";
$icon-hide-password: "\e927";
$icon-home: "\f015";
$icon-home-garden: "\e91a";
$icon-idea: "\e91b";
$icon-idea1: "\e91c";
$icon-info-circle: "\f05a";
$icon-instagram: "\f16d";
$icon-kids: "\e91d";
$icon-like: "\e90f";
$icon-list: "\f00b";
$icon-lock: "\f023";
$icon-magaphone: "\e954";
$icon-password: "\e91e";
$icon-plane: "\e91f";
$icon-privacy: "\e904";
$icon-reward-star: "\e920";
$icon-savings: "\e921";
$icon-search: "\e931";
$icon-search-bold: "\f002";
$icon-search-thin: "\e924";
$icon-shop: "\e956";
$icon-shop-2: "\e955";
$icon-shopping: "\e952";
$icon-shopping_card: "\e957";
$icon-show-password: "\e926";
$icon-smile: "\e923";
$icon-specialDeals-view: "\e928";
$icon-teapot: "\e92c";
$icon-television: "\e92d";
$icon-thumbs_down: "\f088";
$icon-thumbs_up: "\f087";
$icon-travel: "\e92e";
$icon-twitter: "\e908";
$icon-user-icon: "\e92f";
$icon-user_circle: "\f2be";
$icon-angle-double-down: "\f103";
$icon-angle-double-left: "\f100";
$icon-angle-double-right: "\f101";
$icon-angle-double-up: "\f102";
$icon-left-arrow: "\e94b";
$icon-right-arrow: "\e94c";
$icon-bars: "\f0c9";
$icon-navicon: "\f0c9";
$icon-linkedin: "\f0e1";
$icon-pinterest: "\f0d2";
$icon-rating-empty: "\f006";
$icon-rating-full: "\f005";
$icon-rating-half-empty: "\f123";
$icon-star-half: "\f089";
$icon-youtube-play: "\f16a";
$icon-arrow-thin-down: "\e950";
$icon-arrow-thin-left: "\e94f";
$icon-arrow-thin-right: "\e94e";
$icon-arrow-thin-up: "\e94d";
$icon-arrow_drop_up: "\e5c7";
$icon-arrow_drop_down: "\e5c5";
$icon-heart: "\e94a";
$icon-files-empty: "\e951";

