@import '~styles/partials/theme.scss';

.brand {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 100px;
  padding: 20px;
  border: 1px solid var(--primaryColor);
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    & > p {
      font-size: 16px;
      color: var(--blackTextColor);
      padding: 20px 0;
      line-height: 1.5;
      max-height: 75px;
      overflow: hidden;
      flex: 1 1 100%;
    }

    &--expand {
      & > p {
        max-height: none;
      }
    }

    &__btn {
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      padding: 8px;
    }
  }
}
