@import '~assets/scss/partials/theme.scss';
.review {
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 20px $gray-300;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .title {
    max-width: 260px;
    margin: 0 10px;
  }
  li {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5em;
    text-transform: capitalize;

    p {
      color: $gray-700;
      margin-right: 20px;
      display: inline-block;
    }
    span {
      min-width: 50px;
    }
    img {
      margin: auto 5px;
    }
  }
  @media (max-width: 1024px) {
    li {
      font-size: 16px;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 30px;
    max-width: 420px;
    margin: 30px auto;
    .code {
      margin-bottom: 5px;
    }
    .title {
      margin: 0;
      margin-bottom: 10px;
    }
    li {
      font-size: 16px;
      margin-top: 11px;
      display: flex;
      align-items: center;
      p {
        min-width: 70px;
      }
    }
  }
}
