@import '~styles/partials/theme.scss';

.bottomNavigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  display: none;
  padding: 18px 0;
  background: var(--whiteTextColor);
  border: 1px solid var(--lightGreyColor);
  border-radius: 6px 6px 0 0;

  @media only screen and (max-width: 980px) {
    display: block;
  }

  &__list {
    --iconSize: 6.5vw;
    --iconSizePixel: 35px;
    --dimensions: 90px;

    @media only screen and (max-width: 768px) {
      --iconSize: 5.84vw;
      --iconSizePixel: 30px;
      --dimensions: 75px;
    }

    @media only screen and (max-width: 600px) {
      --iconSizePixel: 25px;
      --dimensions: 68px;
    }

    @media only screen and (max-width: 380px) {
      --iconSize: 4.5vw;
      --dimensions: 62px;
    }

    display: grid;
    grid-template-columns: repeat(2, var(--iconSize)) 1fr repeat(2, 25px);
    justify-items: center;
    align-items: center;
    gap: calc((100% - ((var(--iconSize) * 4) + var(--dimensions))) / 5);
  }

  &__link {
    font-size: var(--iconSizePixel);
    color: var(--borderColor);
    @include transition(
      color $transition linear,
      background-color $transition linear
    );

    &:active,
    &:focus,
    &:hover {
      outline: none;
      color: var(--primaryColor);
    }
  }

  &__item--middle {
    position: relative;
    width: var(--dimensions);

    & div {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);

      display: inline-block;
      width: var(--dimensions);
      height: var(--dimensions);
    }

    & .bottomNavigation__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: var(--bodyColor);
      background-color: var(--primaryColor);
      border: 5px solid var(--bodyColor);
      border-radius: 50%;

      &:active,
      &:focus,
      &:hover {
        outline: none;
        color: var(--whiteTextColor);
        background-color: darken($primaryColor, 15%);
      }
    }
  }
}
