@import '~styles/partials/theme.scss';

.swiper {
  height: 80vh;
  width: 100%;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 12 * 2;
    background-color: var(--whiteTextColor);

    img {
      width: 100%;
    }
  }
}
