@import '~assets/scss/partials/theme.scss';

.serviceCard {
  &__image {
    position: relative;
    & > img {
      position: relative;
      text-align: center;
      object-fit: contain;
      width: 70%;
      height: 70%;
      top: -10px;
      @media (max-width: 767px) {
        width: 90%;
      }
    }
  }
}
