@import '~styles/partials/theme.scss';

.anchor {
  appearance: none;
  text-decoration: none;
  display: inline-block;

  font-size: 20px;
  color: var(--primaryColor);
  line-height: 1;
  text-align: center;
  padding: 12px 30px;
  border-radius: 6px;
  border: 1px solid var(--primaryColor);
  background-color: transparent;
  @include transition(
    color $transition ease-in,
    background-color $transition linear
  );

  @media only screen and (max-width: 768px) {
    font-size: 18px;
    padding: 15px 20px;
  }

  &:active,
  &:focus,
  &:hover {
    outline: none;
    color: var(--whiteTextColor);
    background-color: var(--primaryColor);
  }
}
