@import '~styles/partials/theme.scss';

.anchor {
  appearance: none;
  text-decoration: none;
  display: inline-block;

  font-size: 13px;
  font-weight: 500;
  color: var(--blackTextColor);
  padding: 3px 6px;
  background-color: var(--lightGreyColor);
  @include transition(
    color $transition ease-in,
    background-color $transition ease-in
  );

  &:active,
  &:focus,
  &:hover {
    color: var(--whiteTextColor);
    background-color: var(--primaryColor);
  }
}
