@import '@/assets/scss/partials/theme.scss';

.footer {
  background: var(--secondaryColor);
  color: var(--whiteTextColor);

  &__grid {
    padding: 50px 0;
    text-align: center;
  }

  &__left {
    & > :not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__text {
    max-width: 630px;
    margin: 0 auto;

    & > p {
      line-height: 1.75em;
    }

    & > :not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
