@import '~assets/scss/partials/theme.scss';

.account {
  &__dropdown {
    position: absolute;
    top: 28px;
    right: 10px;
    pointer-events: auto;
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
  }

  &__wrap {
    position: relative;
    background-color: var(--whiteTextColor);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 17%);

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: var(--whiteTextColor);
      top: -5px;
      right: 5px;
      transform: rotate(45deg);
      z-index: 1;
    }
  }

  &__inner {
    width: 320px;
    padding: 17px 20px;
    max-height: 500px;
    overflow: auto;
  }

  &__loginForm {
    padding: 10px 0;

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 15px 0;
      border-bottom: 1px solid var(--blackTextColor);
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
    }

    &__link a {
      color: var(--primaryColor);
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }

    &__group {
      margin-bottom: 10px;

      .required {
        color: var(--danger);
      }

      & label {
        margin-bottom: 0.5rem;
        font-size: 13px;
        line-height: 1.7;
      }

      & input {
        appearance: none;
        display: block;
        width: 100%;
        font-size: 16px;
        color: var(--greyTextColor);
        padding: 12px 15px;
        line-height: normal !important;
        background-color: #f6f6f6;
        border: 1px solid #f6f6f6;
        border-radius: 0;
        transition: all 0.3s ease;
      }
    }

    & button {
      display: inline-block;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      color: var(--whiteTextColor);
      padding: 12px 18px;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      line-height: normal !important;
      letter-spacing: 1px;
      background-color: var(--blackTextColor);
      border: 1px solid transparent;
      border-color: var(--blackTextColor);
      border-radius: 3px;
      user-select: none;
      @include transition(background-color $transition ease-in-out, border-color $transition ease-in-out);

      &:focus,
      &:hover {
        outline: none;
        cursor: pointer;
        border-color: var(--primaryColor);
        background-color: var(--primaryColor);
      }
    }
  }
}
