@import '~assets/scss/partials/theme.scss';

.serviceCard {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
  }

  &__image {
    & > img {
      width: 52px;
      height: 52px;
    }
  }
  
  &__title,
  &__text {
    font-size: 16px;
  }

  &__title {
    font-weight: 600;
    padding: 10px 0;
  }
}
