@import '../../../assets/scss/partials/theme.scss';
.bread_crumbs_wrap {
  display: flex;
  justify-content: center;
  padding: 4rem;
  background-color: var(--primaryColor);
  .bread_crumbs {
    list-style: none;
    display: flex;
    font-size: 0.92857rem;
    & > li {
      display: flex;
      &:after {
        content: ' > ';
        display: flex;
        align-items: center;
        font-size: 0.9em;
        color: var(--blackTextColor);
        padding: 0 10px 0;
        padding-top: 0.2em;
      }
      & > a {
        color: var(--blackTextColor);
        font-size: 14px;
        line-height: 20px;
      }
    }
    & > li:last-child:after {
      content: '';
      margin-right: 5px;
    }
  }
}
