@import '~/assets/scss/partials/theme.scss';

.standard-post {
  .post-image {
    height: 300px;
    display: flex;
    @include border-radius(5px 5px 0 0);
    overflow: hidden;

    .image {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .post-details {
    display: block;
    background-color: rgba(255, 255, 255, 0.96);
    width: 88%;
    height: 230px;
    margin-top: -82px;
    margin-bottom: 40px;
    z-index: 1;
    position: relative;
    //padding: 30px;
    text-align: left;
    // @include transition();

    // border-style: solid;
    // border-width: 0 0 3px 0;

    &:hover {
      .btm-line {
        @include transform(scaleX(1));
      }

      .post-title {
        h2,
        h3 {
          color: var(--primaryColor);
        }
      }
    }

    .btm-line {
      background-color: var(--primaryColor);
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: 0;
      @include transition(transform ease-out 0.3s);
      @include transform-origin(0 50%);
      @include transform(scaleX(0.5));
    }

    a,
    > div {
      padding: 30px;
    }

    .category-details {
      margin-bottom: 10px;

      .cat-icon {
        width: 50px;
        height: 50px;
        display: block;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: 2px solid #ffffff;
        margin-top: -53px;
        background-color: var(--primaryColor);

        img {
          max-width: 100%;
          object-fit: contain;
        }
      }

      .category-title {
        span,
        .catlink {
          font-size: 14px;
          font-weight: 600;
          line-height: 35px;
          display: inline-block;
          color: var(--primaryColor);
        }
      }

      .category-tags {
        span {
          font-size: 14px;
          font-weight: 600;
          line-height: 35px;
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: 3px;
          color: var(--primaryColor);
        }
      }
    }

    .post-title {
      h2,
      h3 {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 2px;
        font-weight: 500;
        color: var(--blackTextColor);
      }
    }
  }

  &.sideblog {
    .post-details {
      margin-top: 0;
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 1023px) {
    margin: 0 0 30px;
    width: 100%;

    &[class*='col-'],
    &[class^=' col-'] {
      width: 100%;

      & + & {
        margin-top: 0;
      }
    }

    &:first-child {
      .inner {
        padding-top: 0;
      }
    }

    .inner {
      display: flex;
      flex-wrap: nowrap;
      position: relative;

      .btm-line {
        display: none;
      }
    }

    .post-image {
      width: 190px;
      height: 150px;
      display: flex;
      @include border-radius(0 0);
      overflow: hidden;

      .image {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .post-details {
      background-color: transparent;
      margin-top: 0;
      margin-bottom: 0;
      height: auto;
      flex: 1;
      display: flex;
      align-items: center;

      &:hover {
        .post-title {
          h2,
          h3 {
            color: color(textColorBackground);
          }
        }
      }

      a {
        padding: 0 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }

      .category-details {
        margin-bottom: 10px;

        .cat-icon {
          position: absolute;
          width: 39px;
          height: 39px;
          left: calc(-39px / 2);
          top: calc(-39px / 3);
          margin: 0;
        }

        .category-title {
          span {
            line-height: unset;
          }
        }

        .category-tags {
          span {
            line-height: unset;
          }
        }
      }
    }
  }
  @media (max-width: 640px) {
    .post-image {
      width: 110px;
      height: 110px;
    }

    .post-details {
      a {
        padding: 0 0 0 20px;
      }

      .post-title {
        h2,
        h3 {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
