// @import '../../../../assets/scss/partials/theme.scss';
@import '~/assets/scss/partials/theme.scss';
.testimonial {
  background: $primaryColor;
  color: #fff;
  padding: 50px;
  max-width: 526px;
  width: 100%;
  overflow: visible;
  // padding-top: calc(100% / 2 * 1);

  margin: auto;
  .img-wrapper {
    margin-bottom: 50px;
    img {
      max-width: 100%;
    }
  }
  a {
    color: white;
    text-decoration: underline;
  }
  .name {
    font-size: 26px;
    line-height: 39px;
  }
  .description {
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0;
  }
  .project {
    font-size: 16px;
    line-height: 25px;
    margin: 5px 0;
  }
}
