@import '~/assets/scss/partials/theme.scss';
.team {
  margin: auto;
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 10px rgb(204, 204, 204);
  border-radius: 10px;
  width: 100%;
  figure {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: calc(100% / 200 * 200);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      object-position: top center;
      overflow: hidden;
    }
  }
  .details {
    .name {
      font-size: 30px;
      color: black;
      text-align: center;
      line-height: 40px;
      margin-top: 20px;
    }
    .designation {
      font-size: 20px;
      text-align: center;
      line-height: 20px;
      color: gray;
    }
    .social {
      display: flex;
      width: 60%;
      margin: auto;
      justify-content: space-between;
      margin-top: 30px;
      li {
        font-size: 25px;
        a {
          color: gray;
          text-decoration: none;
        }
      }
    }
  }
  @media (max-width: 1500px) {
    .details {
      .name {
        font-size: 26px;
      }
      .designation {
        font-size: 17px;
      }
    }
  }
  @media (max-width: 1024px) {
    .details {
      .name {
        font-size: 20px;
      }
      .social {
        margin-top: 20px;
        li {
          font-size: 20px;
        }
      }
    }
  }
}
