@import '../../../assets/scss/partials/theme.scss';

.sliderStyle3 {
  height: auto;
  width: 100%;
  padding: 50px 20px;
  padding-right: 50px;
  background: var(--primaryColor);
  background: linear-gradient(
    to right,
    $primaryColor,
    $tertiaryColor,
    $secondaryColor
  );
}

.sliderStyle3 .swiper-wrapper .swiper-slide-next > * {
  @media (max-width: 1024px) {
    border-bottom: 5px solid var(--primaryColor);
    border-radius: 15px;
  }
}
.sliderStyle3 .swiper-wrapper .swiper-slide-active > * {
  @media (max-width: 767px) {
    border-bottom: 5px solid var(--primaryColor);
    border-radius: 15px;
  }
}

.sliderStyle3 .swiper-pagination-bullet {
  width: 20px !important ;
  height: 5px !important;
  border-radius: 0 !important;
  background-color: var(--whiteTextColor);

  &-active {
    background-color: var(--primaryColor);
  }
}
