@import '~assets/scss/partials/theme.scss';

.services {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__image {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 calc(70% * 16 / 9) 0;
  }
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    object-position: left;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    grid-gap: 1rem;
    gap: 1rem;
  }

  &__button {
    font-size: 14px;
    font-weight: 700;
    width: 40%;
    height: auto;
    line-height: 1.8rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 50px;
    background: var(--warning);
    border: 1px solid var(--warning);
  }

  &__cards {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    @media (max-width: 767px) {
      align-items: flex-start;
    }
  }
}
