@import '~styles/partials/theme.scss';

.anchor {
  appearance: none;
  text-decoration: none;
  display: inline-block;

  font-size: 14px;
  color: var(--blackTextColor);
  background-color: var(--lightGreyColor);
  padding: 15px;
  position: relative;
  z-index: 1;
  @include transition(all $transition linear);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    z-index: -1;
    @include transition(transform $transition linear);
    background: $primaryColor;
    background: linear-gradient(
      to bottom,
      $primaryColor 0%,
      darken($primaryColor, 15%) 52%,
      darken($primaryColor, 25%) 80%,
      darken($primaryColor, 25%) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primaryColor', endColorstr='darken($primaryColor, 25%)', GradientType=0);
  }

  &:active,
  &:focus,
  &:hover {
    outline: none;
    color: var(--whiteTextColor);
  }

  &:active::before,
  &:focus::before,
  &:hover::before {
    transform: scaleY(1);
  }
}
