@import '~/assets/scss/partials/theme.scss';

.narrow-column {
  width: 32%;
  padding: 0 15px;

  .sticky {
    position: sticky;
    align-self: flex-start;
    top: 20px;
  }

  &.small {
    width: 25%;
  }
  &.medium {
    width: 30%;
  }
  &.large {
    width: 33.33%;
    max-width: 560px;
    // min-width: 520px;
  }

  @media (max-width: 1200px) {
    width: 100%;
    &.small {
      width: 100%;
    }
    &.medium {
      width: 100%;
    }
    &.large {
      width: 100%;
    }
  }
}
